In [26]:
import pandas as pd
from sqlalchemy import create_engine
from key import key

In [4]:
brewery_file = "./Resources/brewery.csv"
brewery_df = pd.read_csv(brewery_file)
brewery_df.columns

Index(['address', 'categories', 'city', 'country', 'key', 'lat', 'long',
       'name', 'phones', 'postalCode', 'province', 'websites'],
      dtype='object')

In [22]:
beer_df=brewery_df[['address','city','lat','long','name','province','websites','phones']].copy()
new_beer_df=beer_df[beer_df['lat'].notna()]
new_beer_df=beer_df[beer_df['long'].notna()]
new_beer_df.head()

,address,city,lat,long,name,province,websites,phones
2,830 W Bannock St,Boise,43.617711,-116.202883,"10 Barrel Brewing, 10 Barrel Brewing Co.",ID,10barrel.com,"(208) 344-5870, 2083445870, 2.08344587E9"
3,1022 Texan Trl,Grapevine,32.938385,-97.064340,10 Gallon Tours,TX,http://www.10gallontours.com/,"18174031832, 817 403-1832"
10,3090 Shirley Dr,Jackson,42.286010,-84.431260,127 Brewing,MI,https://www.facebook.com/127brewing,5172581346
11,41 Lower Newton St,Stalbans,44.810713,-73.083558,14th Star Brewing Co Llc,VT,http://api.citygridmedia.com/content/places/v2...,8023931459
12,133 N Main St,Saint Albans,44.814920,-73.082240,14th Star Brewing Company,VT,NaN,8025285988

In [18]:
new_beer_df.to_csv('beer_data.csv', index=False)

In [34]:
rds_connection_string = (f"postgres:{key}@localhost:5432/Project_2")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [35]:
engine.table_names()

['brewery']

In [36]:
new_beer_df.to_sql(name='brewery', con=engine, if_exists='append', index=False)

In [37]:
pd.read_sql_query('select * from brewery', con=engine).head()

,address,city,lat,long,name,province,websites,phones
0,830 W Bannock St,Boise,43.617711,-116.202883,"10 Barrel Brewing, 10 Barrel Brewing Co.",ID,10barrel.com,"(208) 344-5870, 2083445870, 2.08344587E9"
1,1022 Texan Trl,Grapevine,32.938385,-97.064340,10 Gallon Tours,TX,http://www.10gallontours.com/,"18174031832, 817 403-1832"
2,3090 Shirley Dr,Jackson,42.286010,-84.431260,127 Brewing,MI,https://www.facebook.com/127brewing,5172581346
3,41 Lower Newton St,Stalbans,44.810713,-73.083558,14th Star Brewing Co Llc,VT,http://api.citygridmedia.com/content/places/v2...,8023931459
4,133 N Main St,Saint Albans,44.814920,-73.082240,14th Star Brewing Company,VT,None,8025285988

In [ ]:
CREATE TABLE brewery(
address VARCHAR , 
city VARCHAR, 
lat DECIMAL,
long DECIMAL,
name VARCHAR,
province VARCHAR,
websites VARCHAR,
phones VARCHAR);


SELECT * FROM brewery;

In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect