In [1]:
import pandas as pd
from sqlalchemy import create_engine
from key_pg import key

In [2]:
brewery_file = "./Resources/brewery.csv"
brewery_df = pd.read_csv(brewery_file)
brewery_df.columns

Index(['address', 'categories', 'city', 'country', 'key', 'lat', 'long',
       'name', 'phones', 'postalCode', 'province', 'websites'],
      dtype='object')

In [3]:
beer_df=brewery_df[['address','city','lat','long','name','province','websites','phones']].copy()
new_beer_df=beer_df[beer_df['lat'].notna()]
new_beer_df=beer_df[beer_df['long'].notna()]
new_beer_df=new_beer_df[['address','city','lat','long','name','province']]
new_beer_df.dropna

new_beer_df

,address,city,lat,long,name,province
2,830 W Bannock St,Boise,43.617711,-116.202883,"10 Barrel Brewing, 10 Barrel Brewing Co.",ID
3,1022 Texan Trl,Grapevine,32.938385,-97.064340,10 Gallon Tours,TX
10,3090 Shirley Dr,Jackson,42.286010,-84.431260,127 Brewing,MI
11,41 Lower Newton St,Stalbans,44.810713,-73.083558,14th Star Brewing Co Llc,VT
12,133 N Main St,Saint Albans,44.814920,-73.082240,14th Star Brewing Company,VT
...,...,...,...,...,...,...
7369,226 Main St,Sandown,42.920555,-71.175256,Zorvino Vineyards,NH
7370,512 E Main St,Montrose,38.480219,-107.875247,Zulu Brewing Co,CO
7371,3232 Monroe Ave,Waukegan,42.363495,-87.880620,Zumbier,IL
7372,1038 Lafayette Ave,Columbus,39.208796,-85.918737,Zwanzigz Pizza,IN
7374,1361 Monmouth Rd,Eastampton,40.010995,-74.750851,Zymotic Imports Limited,NJ

In [21]:
new_beer_df.to_csv('beer_data.csv', index=False)

In [4]:
beer_df=brewery_df[['address','city','lat','long','name','province']].copy()
beer_df=beer_df[beer_df['lat'].notna()]
beer_df=beer_df[beer_df['long'].notna()]

beer_df.to_csv('cleaned_data.csv', index=False)

In [5]:
rds_connection_string = (f"postgres:{key}@localhost:5432/Project_2")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
engine.table_names()

['brewery', 'beer']

In [7]:
beer_df.to_sql(name='beer', con=engine, if_exists='append', index=False)

In [8]:
pd.read_sql_query('select lat, long, province from beer', con=engine).head()

         lat        long province
0  43.617711 -116.202883       ID
1  32.938385  -97.064340       TX
2  42.286010  -84.431260       MI
3  44.810713  -73.083558       VT
4  44.814920  -73.082240       VT

In [11]:
data

            lat        long
0     43.617711 -116.202883
1     32.938385  -97.064340
2     42.286010  -84.431260
3     44.810713  -73.083558
4     44.814920  -73.082240
...         ...         ...
5411  42.920555  -71.175256
5412  38.480219 -107.875247
5413  42.363495  -87.880620
5414  39.208796  -85.918737
5415  40.010995  -74.750851

[5416 rows x 2 columns]

In [ ]:
CREATE TABLE brewery(
address VARCHAR , 
city VARCHAR, 
lat DECIMAL,
long DECIMAL,
name VARCHAR,
province VARCHAR,
websites VARCHAR,
phones VARCHAR);


SELECT * FROM brewery;

In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
lat =[]
long = []

for i in new_beer_df:
    latitude = new_beer_df[lat]
    lat.append(latitude)

NameError: name 'new_beer_df' is not defined

In [4]:
new_beer_df

NameError: name 'new_beer_df' is not defined

In [16]:
pip install -U flask-cors

Collecting flask-cors
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied, skipping upgrade: Six in c:\users\micha\anaconda3\lib\site-packages (from flask-cors) (1.15.0)
Requirement already satisfied, skipping upgrade: Flask>=0.9 in c:\users\micha\anaconda3\lib\site-packages (from flask-cors) (1.1.2)
Requirement already satisfied, skipping upgrade: Jinja2>=2.10.1 in c:\users\micha\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (2.11.2)
Requirement already satisfied, skipping upgrade: click>=5.1 in c:\users\micha\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (7.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied, skipping upgrade: itsdangerous>=0.24 in c:\users\micha\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (1.1.0)
Requirement already satisfied, skipping upgrade: Werkzeug>=0.15 in c:\users\micha\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (1.0.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\micha\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.9->flask-cors) (1.1.1)
Installing collected packages: flask-cors
Successfully installed flask-cors-3.0.10